<a href="https://colab.research.google.com/github/kmaciver/Ryerson_Capstone/blob/master/Approach/Step4-DayTade_DFSDInputs/DayTradeSingle_DFSDInput.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

In [0]:
%matplotlib inline
import matplotlib.pyplot as plt
import tensorflow as tf
import numpy as np
import pandas as pd
import os
from sklearn.preprocessing import MinMaxScaler, StandardScaler, QuantileTransformer

In [0]:
from tensorflow.python.keras.models import Sequential
from tensorflow.python.keras.layers import Input, Dense, GRU, Embedding, LSTM, TimeDistributed, Lambda, Dropout
from tensorflow.python.keras.optimizers import RMSprop, Adam
from tensorflow.python.keras.callbacks import EarlyStopping, ModelCheckpoint, TensorBoard, ReduceLROnPlateau
from tensorflow.python.keras import backend as K
from tensorflow.python.keras import losses
import warnings
warnings.filterwarnings('ignore')
import random as rand
from random import randint
from numpy.random import seed
seed(1)
from tensorflow import set_random_seed
set_random_seed(2)

In [4]:
file_path = "/content/drive/My Drive/Capstone/Data Exploration/Day_trade_data.csv"
DayTrade = pd.read_csv(file_path, index_col='Time')
DayTrade = DayTrade.drop([DayTrade.columns[0]] ,  axis='columns')
DayTrade.head()

                       Open    High     Low  ...        RSI  MACD_index  slow_stoch
Time                                         ...
2013-04-03 00:00:00  116.00  116.00  116.00  ...  33.333333    -0.36038    0.084906
2013-04-03 00:01:00  116.00  116.00  116.00  ...  33.333333    -0.36038    0.084906
2013-04-03 00:02:00  116.00  116.58  116.00  ...  33.333333    -0.36038    0.084906
2013-04-03 00:03:00  116.98  117.00  116.98  ...  33.333333    -0.36038    0.084906
2013-04-03 00:04:00  117.00  117.00  117.00  ...  33.333333    -0.36038    0.084906

[5 rows x 16 columns]

Dropping Volume Currency as discussed in the Feature Selection phase

In [0]:
DayTrade = DayTrade.drop(columns='Volume_.Currency.')

In [6]:
#We need create a target data, which is basically a copy of the data that will be later shifted
target_data = DayTrade.copy()
target_data = target_data.iloc[:,5:7]
target_data.head()

                     Weighted_Price        date
Time
2013-04-03 00:00:00      116.000000  2013-04-03
2013-04-03 00:01:00      116.000000  2013-04-03
2013-04-03 00:02:00      116.215883  2013-04-03
2013-04-03 00:03:00      116.995217  2013-04-03
2013-04-03 00:04:00      117.000000  2013-04-03

The objective of the model is to predict 10 minutes ahead of the current timestep. The Day Trade data contains the minute to minute data for a total of 1735 days. The analysis must be limited within each day.

In [0]:
# Predict 10 minutes in the future, although the predictions must be wrapped around each day
shift_steps = 10

# Now that the target_data was created we need to shift the data so that the target values of 24 hours later aling with our
# input data

target_data = target_data.groupby('date').shift(-shift_steps)

Here we double check that because we shifted the target values now we have NaN values at the end

In [8]:
target_data.iloc[1420:1450]

                     Weighted_Price
Time
2013-04-03 23:40:00      129.900000
2013-04-03 23:41:00      129.900000
2013-04-03 23:42:00      129.899861
2013-04-03 23:43:00      129.892440
2013-04-03 23:44:00      130.049341
2013-04-03 23:45:00      131.371316
2013-04-03 23:46:00      132.534018
2013-04-03 23:47:00      132.912123
2013-04-03 23:48:00      132.819273
2013-04-03 23:49:00      133.091659
2013-04-03 23:50:00             NaN
2013-04-03 23:51:00             NaN
2013-04-03 23:52:00             NaN
2013-04-03 23:53:00             NaN
2013-04-03 23:54:00             NaN
2013-04-03 23:55:00             NaN
2013-04-03 23:56:00             NaN
2013-04-03 23:57:00             NaN
2013-04-03 23:58:00             NaN
2013-04-03 23:59:00             NaN
2013-04-08 00:00:00      164.628270
2013-04-08 00:01:00      164.971825
2013-04-08 00:02:00      164.990000
2013-04-08 00:03:00      164.986254
2013-04-08 00:04:00      164.998242
2013-04-08 00:05:00      164.960000
2013-04-08 00:06:00      164.960000
2013-04-08 00:07:00      164.960000
2013-04-08 00:08:00      164.960000
2013-04-08 00:09:00      164.960000

In [0]:
# Now we need to remove the rows with NaN values for the target data thus needing to exclude also the 
# 10 lines per day of the DayTrade data

DayTrade['target'] = target_data['Weighted_Price']

target_data['date'] = DayTrade['date']

DayTrade_clean = DayTrade.dropna()
target_data_clean = target_data.dropna()

In [10]:
DayTrade_clean.shape, target_data_clean.shape

((2481050, 16), (2481050, 2))

Number of rows for both data are correct since initially the data consisted of 1735 days of 1440 minutes (total of 2.481.050 rows) and now each day had the last 10 minutes so the total amount of rows must be 1735 days of 1430 minutes (total of 2.481.050)

In [0]:
# the target column was only added to the DayTrade data in order to drop the correct rows.
#Removing column 'target' from the DayTrade data

DayTrade = DayTrade.drop(columns='target')
DayTrade_clean = DayTrade_clean.drop(columns='target')

## Adding prediction for High and Low based on Daily Summary

The daily summary was used to predict the high and low price of the next day. This values will then be used by the algorithm to try to reduce the variance of the prediction

In [0]:
# Each day of the DayTrade data must have a prediction for what is the current day high and low price expectation

#Load DailySummary data
file_path = "/content/drive/My Drive/Capstone/Data Exploration/DSFD.csv"
DaySummary = pd.read_csv(file_path, index_col='date')
DaySummary = DaySummary.drop([DaySummary.columns[0]] ,  axis='columns')
DaySummary = DaySummary.drop(columns=['Volume_Currency','Close_RoC'])

target_dataDaySummary = DaySummary.copy()
target_dataDaySummary = target_dataDaySummary.loc[:,['High','Low']]

shift_steps = 1
target_dataDaySummary = target_dataDaySummary.shift(-shift_steps)

DaySummary_clean = DaySummary.iloc[:-1,:]
target_dataDaySummary_clean = target_dataDaySummary.iloc[:-1,:]

X_data = np.array(DaySummary_clean)
Y_data = np.array(target_dataDaySummary_clean)

train_split = 0.9

n_train_rows = int(X_data.shape[0]*train_split)

X_train = X_data[0:n_train_rows]
Y_train = Y_data[0:n_train_rows]

#Create Scalers and fit them
x_scaler = MinMaxScaler()
x_scaler.fit(X_train)

y_scaler = MinMaxScaler()
y_scaler.fit(Y_train)


# Scale X_data, rechape and transform it into Batches for prediction
X_data_scaled = x_scaler.transform(X_data)
X_data_scaled  = X_data_scaled.reshape(1,X_data_scaled.shape[0],X_data_scaled.shape[1])

#Create Batches for the X_data
sequence_length = 25
num_x_signal = 13
num_y_signal = 2

# Allocate a new array for the batch of input-signals.
batch_size_val = X_data_scaled.shape[1] - sequence_length 

x_shape = (batch_size_val, sequence_length, num_x_signal)
x_batch = np.zeros(shape=x_shape, dtype=np.float16)

# Fill the batch with random sequences of data.
for i in range(batch_size_val):
    # Copy the sequences of data starting at this index.
    x_batch[i] = X_data_scaled[0][i:i+sequence_length][:]
    
#load model for prediction 
DSFD_modelFilePath = "/content/drive/My Drive/Capstone/Approach/Step4DayTrade_DSFDInput/DSFD_H5/DailySummary_LSTM 2 layers_Relu_MinMax_Modified_LogCosh.h5"
loaded_model = tf.keras.models.load_model(DSFD_modelFilePath)  

#Generate the prediction   
ypred = loaded_model.predict(x_batch)
ypred_rescaled = y_scaler.inverse_transform(ypred)

#Create columns of prediction for DaySummary data
DaySummary['High_Pred'] = np.nan
DaySummary['Low_Pred'] = np.nan


#Copy the prediction values to the DauSummary Data
DaySummary.High_Pred[26:] =  ypred_rescaled[:,0]
DaySummary.Low_Pred[26:] =  ypred_rescaled[:,1]

In [0]:
# Now that DaySummary has predictions High and Low predictions for the day, it is necessary to copy those prediction into the 
# DayTrade data

DaySummary_clean = DaySummary.copy()
DaySummary_clean.dropna()

days_in_DailySummary = list(dict.fromkeys(DaySummary_clean.index.values))
days_in_data = list(dict.fromkeys(DayTrade_clean["date"].values))
days_with_predictions = list(set(days_in_data).intersection(days_in_DailySummary))

DayTrade_clean['High_Pred'] = np.nan
DayTrade_clean['Low_Pred'] = np.nan

for day in days_with_predictions:
    DayTrade_clean.High_Pred[DayTrade_clean['date'].values==day] = np.array(DaySummary_clean.High_Pred[DaySummary_clean.index==day])
    DayTrade_clean.Low_Pred[DayTrade_clean['date'].values==day] = np.array(DaySummary_clean.Low_Pred[DaySummary_clean.index==day])

In [16]:
DayTrade_clean = DayTrade_clean.dropna()
DayTrade_clean.shape

(2453880, 17)

By adding the High and Low predictions from the Daily Summary data and removing the NaN the data now has 2.453.880 rows (which corresponds to 1716 days), which means 19 days of the original data lied before the 25 first days that the Daily Summary data needed to begin making predictions

## Continuing with Day Trade Analysis

In order to compare results with other models the same dates for testing must be used

In [17]:
# Previous algorithm used 174 days for testing

training_days = days_in_data[:len(days_in_data)-174]
testing_days = days_in_data[len(days_in_data)-174:]

print(len(training_days),len(testing_days))

1561 174

Data will need to be normalized for predictions. A scaler will be fitted for the training data

In [19]:
#Step 1 - Convert day data into numpy array
train_data = np.array(DayTrade_clean.loc[DayTrade_clean.date.isin(training_days),:].drop(columns='date'))
label_data = np.array(target_data_clean.loc[target_data_clean.date.isin(training_days),:].drop(columns='date')).reshape(-1,1)

#Step 2 - Scale data for Neural Network
x_scaler = MinMaxScaler()
x_scaler.fit(train_data)
y_scaler = MinMaxScaler()
y_scaler.fit(label_data)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [0]:
def batch_reshape(sequence_length, X_train_scale, Y_train_scale, num_x_signal, num_y_signal):
    """
    Generator function for creating random batches of training-data.
    """
    batch_size = X_train_scale.shape[1] // sequence_length
    # Allocate a new array for the batch of input-signals.
    x_shape = (batch_size, sequence_length, num_x_signal)
    x_batch = np.zeros(shape=x_shape, dtype=np.float16)
    
 
    # Allocate a new array for the batch of output-signals.
    y_shape = (batch_size, num_y_signal)
    y_batch = np.zeros(shape=y_shape, dtype=np.float16)

    #print(x_batch.shape, y_batch.shape, X_train_scale.shape, Y_train_scale.shape) #debugging
    # Create Sequence for sliding window
    seq = []
    for i in range(batch_size):
        seq.append(i*sequence_length)
    
    # Fill the batch with sequences of data.
    for i in range(0,len(seq)-1):

        # Copy the sequences of data starting at this index.
        x_batch[i] = X_train_scale[0][seq[i]:seq[i]+sequence_length][:]
        y_batch[i] = Y_train_scale[0][seq[i]+sequence_length-1][:]
        #print("iteration: ",i,"-OK") #debugging

    #print(x_batch.shape,y_batch.shape) #debbuging
    return (x_batch, y_batch)

In [0]:
def batch_generator(batch_size, sequence_length, num_x_signal, num_y_signal, train_data, label_data, training_days):
    
    # Create a Batch function for training data using sliding window technique
    # Step 1 - Select a training day

    day = rand.choice(training_days)

    #Step 2 - Filter Input data and Target with the selected date
    day_train_data = train_data[train_data['date'].values==day]
    day_label_data = label_data[label_data['date'].values==day]

    #Step 3 - Drop date columns from day train data and day label data
    day_train_data = day_train_data.drop(columns='date')
    day_label_data = day_label_data.drop(columns='date')

    #Step 4 - Convert day data into numpy array
    day_train_data = np.array(day_train_data)
    day_label_data = np.array(day_label_data).reshape(-1,1)

    #Step 5 - Scale data for Neural Network
    day_train_data = x_scaler.transform(day_train_data)
    day_label_data = y_scaler.transform(day_label_data)

    #Step 6 - Reshape data to fit keras requirement to have a (x,y,z) shape
    day_train_data = day_train_data.reshape(1,day_train_data.shape[0],day_train_data.shape[1])
    day_label_data = day_label_data.reshape(1,day_label_data.shape[0],day_label_data.shape[1])
    
     #Step 7 - Reshape data into Batches
    day_train_data_reshape , day_label_data_reshape =  batch_reshape(sequence_length, day_train_data, day_label_data, num_x_signal, num_y_signal)
    
    # print(day_train_data_reshape.shape , day_train_data_reshape.shape)#debugging
   
    #Step 8 - Apply the "jumping" slidding window technique to the reshaped date
    # Infinite loop.
    while True:
        # Allocate a new array for the batch of input-signals.
        x_shape = (batch_size, sequence_length, num_x_signal)
        x_batch = np.zeros(shape=x_shape, dtype=np.float16)

        # Allocate a new array for the batch of output-signals.
        y_shape = (batch_size, num_y_signal)
        y_batch = np.zeros(shape=y_shape, dtype=np.float16)

        # Fill the batch with random continuous sequences of data.

        # Get a random start-index.
        # This points somewhere into the training-data.
        idx = np.random.randint(day_train_data_reshape.shape[0] - batch_size)

        # Copy the sequences of data starting at this index.
        x_batch = day_train_data_reshape[idx:idx+batch_size]
        y_batch = day_label_data_reshape[idx:idx+batch_size]


        yield (x_batch, y_batch)

In [0]:
num_x_signal = 16 # number of input features
num_y_signal = 1 # number of label classes

batch_size = 50 # tunning parameter
sequence_length = 25 #Amount of time-steps to look back for the 10 minute prediction

In [0]:
generator = batch_generator(batch_size,sequence_length, num_x_signal, num_y_signal, DayTrade_clean, target_data_clean,training_days)

In [0]:
x_batch, y_batch = next(generator)

In [25]:
print(x_batch.shape)
print(y_batch.shape)

(50, 25, 16)
(50, 1)

In [0]:

def batch_validation(sequence_length, num_x_signal, num_y_signal, test_data, label_test_data, testing_days):
    
    # Create a Batch function for validation data using sliding window technique
    # Step 1 - Select a testing day

    day = rand.choice(testing_days)

    #Step 2 - Filter Input data and Target with the selected date
    day_test_data = test_data[test_data['date'].values==day]
    day_label_data = label_test_data[label_test_data['date'].values==day]

    #Step 3 - Drop date columns from day test data and day label data
    day_test_data = day_test_data.drop(columns='date')
    day_label_data = day_label_data.drop(columns='date')

    #Step 4 - Convert day data into numpy array
    day_test_data = np.array(day_test_data)
    day_label_data = np.array(day_label_data).reshape(-1,1)

    #Step 5 - Scale data for Neural Network
    day_test_data = x_scaler.transform(day_test_data)
    day_label_data = y_scaler.transform(day_label_data)

    #Step 6 - Reshape data to fit keras requirement to have a (x,y,z) shape
    day_test_data = day_test_data.reshape(1,day_test_data.shape[0],day_test_data.shape[1])
    day_label_data = day_label_data.reshape(1,day_label_data.shape[0],day_label_data.shape[1])
    
    #print(day_test_data.shape , day_label_data.shape)#debugging
    
    #Step 7 - Reshape data into Batches using slidding window   
    batch_val_size = day_test_data.shape[1] - sequence_length
    
    x_val_shape = (batch_val_size, sequence_length, num_x_signal)
    x_batch = np.zeros(shape=x_val_shape, dtype=np.float16)
        
    y_val_shape = (batch_val_size, num_y_signal)
    y_batch = np.zeros(shape=y_val_shape, dtype=np.float16)
    
    #print(x_batch.shape, y_batch.shape) # debugging
    for i in range(batch_val_size):

        # Copy the sequences of data starting at this index.
        x_batch[i] = day_test_data[0][i:i+sequence_length][:]
        y_batch[i] = day_label_data[0][i+sequence_length-1][:]

    
    return (x_batch, y_batch)

In [27]:
X_val, Y_val = batch_validation(sequence_length,num_x_signal, num_y_signal, DayTrade_clean, target_data_clean, testing_days)
print(X_val.shape, Y_val.shape)

(1405, 25, 16) (1405, 1)

In [0]:
validation_data = (X_val, Y_val)

## Create Recurrent Neural Network

In [59]:
from tensorflow.keras.layers import BatchNormalization


model = Sequential()
model.add(LSTM(units=200,
              return_sequences=True,
              input_shape=(None,num_x_signal,)))
model.add(LSTM(units=150, return_sequences=False))
model.add(Dropout(0.4))
model.add(BatchNormalization())
model.add(Dense(num_y_signal,activation='linear'))
model.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
lstm_4 (LSTM)                (None, None, 200)         173600
_________________________________________________________________
lstm_5 (LSTM)                (None, 150)               210600
_________________________________________________________________
dropout_3 (Dropout)          (None, 150)               0
_________________________________________________________________
batch_normalization_3 (Batch (None, 150)               600
_________________________________________________________________
dense_3 (Dense)              (None, 1)                 151
=================================================================
Total params: 384,951
Trainable params: 384,651
Non-trainable params: 300
_________________________________________________________________

In [0]:
optimizer = Adam(lr=1e-3)

model.compile(loss=losses.logcosh, optimizer=optimizer)

#model.save_weights('initial_weights.h5')

In [0]:
model_file = "predictions_Step4_GRU 2 layers_Relu_MinMax_logcosh.h5"

mc = ModelCheckpoint(model_file, monitor="val_loss", mode="min", save_best_only=True)

reduce_lr = ReduceLROnPlateau(monitor='val_loss', factor=0.2,
                              patience=4, min_lr=1e-4)

In [0]:
%%time
model.load_weights('initial_weights.h5')

history = model.fit_generator(generator=generator,
                    epochs=300,
                    steps_per_epoch=50,
                    validation_data=validation_data,
                    callbacks=[ mc, reduce_lr])
                    #callbacks=[es, reduce_lr])

In [0]:
hist_df = pd.DataFrame(history.history) 
hist_csv_file = model_file.split('.')[0]+'.csv'
with open(hist_csv_file, mode='w') as f:
    hist_df.to_csv(f)

In [70]:
# Save history and H5 file to drive
saveDrivePath = '/content/drive/My Drive/Capstone/Approach/Step4DayTrade_DSFDInput'
h5FilePath = '/content/'+ model_file
historyFilePath = '/content/' + hist_csv_file
initialWeightsFilePath = '/content/initial_weights.h5'

os.system("mv "+'"'+h5FilePath+'"' + " " + '"'+saveDrivePath+'"' )
os.system("mv "+'"'+historyFilePath+'"' + " " + '"'+saveDrivePath+'"' )
os.system("mv "+'"'+initialWeightsFilePath+'"' + " " + '"'+saveDrivePath+'"' )

0

In [0]:
plt.plot(history.history['val_loss'])
plt.title('model_loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['test'], loc='upper left')
plt.show()

In [0]:
plt.plot(history.history['loss'])
plt.title('model_loss')
plt.ylabel('loss')
plt.xlabel('epoch')
plt.legend(['train'], loc='upper left')
plt.show()

In [73]:
# The algorithm uses data of the previous 25 time-steps to forecast the following 10th minute into the future. Therefore,  
# the first prediction of every day can only be excecuted after 25 minutes of the begining of the day, and will refer  
# to the prediction of the minute 35.

# Since every day consists of 1440 minutes the algorithm is only able to predict the last 1405 minutes of the day.

#Create a Dataframe to hold the true predicted values for each day.
predictionsData = DayTrade.copy()
predictionsData = predictionsData.loc[:,['Weighted_Price','date']]
predictionsData = predictionsData[predictionsData['date'].isin(testing_days)]# Filter only the testing days
predictionsData = predictionsData.groupby('date').apply(lambda group: group.iloc[35:])# For each day filter the last 1405 minutes (1440 - 1405 = 35)
predictionsData.shape

(244470, 2)

In [0]:
def predict(modelFilename):

    column_name = modelFilename.split('.')[0]
    #Step 1 - Create a column to hold predictions
    predictionsData[column_name] = np.nan 
    
    #Step 2 - load model for prediction   
    loaded_model = tf.keras.models.load_model(modelFilename)
    
    for day in testing_days:
        #Step 3 - Filter Input data and Target with the selected date
        day_test_data = DayTrade_clean[DayTrade_clean['date'].values==day]

        #Step 4 - Drop date column
        day_test_data = day_test_data.drop(columns='date')

        #Step 5 - Convert day data into numpy array
        day_test_data = np.array(day_test_data)

        #Step 6 - Scale data for Neural Network
        day_test_data = x_scaler.transform(day_test_data)

        #Step 7 - Reshape data to fit keras requirement to have a (x,y,z) shape
        day_test_data = day_test_data.reshape(1,day_test_data.shape[0],day_test_data.shape[1])

        #Step 8 - Reshape data into Batches using slidding window   
        batch_val_size = day_test_data.shape[1] - sequence_length

        x_val_shape = (batch_val_size, sequence_length, num_x_signal)
        x_batch = np.zeros(shape=x_val_shape, dtype=np.float16)

        for i in range(batch_val_size):

            # Copy the sequences of data starting at this index.
            x_batch[i] = day_test_data[0][i:i+sequence_length][:]

        #Step 9 - Generate the prediction for that day   
        ypred = loaded_model.predict(x_batch)
        ypred_rescaled = y_scaler.inverse_transform(ypred)

        #Step 10 - Copy the prediction values to the correspondent day in the predictionData
        predictionsData.loc[predictionsData['date']==day,column_name] = ypred_rescaled
    
    return(predictionsData)

In [0]:
modelPath = '/content/drive/My Drive/Capstone/Approach/Step4DayTrade_DSFDInput'
modelfilePath = modelPath + '/' + model_file

In [0]:
predict(modelfilePath)

In [0]:
# Save Dataframe with prediction as csv file
prediction_file = 'predictions_' +  model_file.split('.')[0] + '.csv'
prediction_filePath = '/content/' + prediction_file
predictionsData.to_csv(prediction_file)

In [0]:
destinantionDir = '/content/drive/My Drive/Capstone/Approach/Step4DayTrade_DSFDInput/Predictions_csv'
oscmd = "mv "+'"'+prediction_filePath+'"' + " " + '"'+destinantionDir+'"' 
oscmd

In [0]:
# Move csv files to directory in Drive
os.system(oscmd)

In [0]:
from sklearn.metrics import mean_squared_error

mse_Weighted_Price = mean_squared_error(predictionsData.iloc[:,0],predictionsData.iloc[:,2])
mse_Weighted_Price